@charset "utf-8";

/* 
KSU Dynamic Forms CSS File (Default)
https://kent-hosted-assets.s3.amazonaws.com/dynamic-forms/styles.css

Colors
KSU Logo Dark Blue: #003876
*/

body {
    	font-family: serif;
	width:100%;	
    	font-variant-ligatures: no-common-ligatures;
	font-size:13px;
	background-image: url(https://kpospic1.github.io/KSUPlaza.png);
	background-size:cover;
}
/*
body #formBody {
 
}
#formBody {
	
}
*/

form {
	width:1080px;
	margin:0 auto;
	margin-top:40px;
	margin-bottom:40px;
	background-color:#ffffff;
	
}

div.form-group > div > div > div {
	height: 30px;
    	letter-spacing: 1.5px;
}

.form-group {
	margin-bottom: 15px;
	/*border: 1px solid #eeeeee;*/
}

.form-group:nth-child(odd) {
	background-color: #eeeeee;
}

/*Affect disabled elements #FormPage input[type="text"]:read-only, #FormPage textarea:read-only*/
.form-control[disabled], .form-control[readonly], fieldset[disabled], #FormPage input[type="text"]:read-only {
	box-shadow: none;
	border: none;
	border-radius:0;
	border-style:none;
	border-bottom: 1px solid #000000;
	background: #f0f0f0;
	/*font-weight:bold;
	background: repeating-linear-gradient(
  		45deg,
  		#ffffff,
 		#ffffff 10px,
  		#ebebeb 10px,
  		#ebebeb 20px
	);
	*/
}
#FormPage textarea {
	box-shadow: none; 
	border: 1px solid #000000;
	/*highight field color*/
	background: #fffacd;
	resize:none;
}
#FormPage textarea:read-only {
	resize: none;
	box-shadow: none;
	border-radius:0;
	border: 1px solid #000000;
	background: #f0f0f0;
}
/*Make acive form elements highlighted*/
.form-control, fieldset {
	box-shadow: none;
	border: none;
	border-stylet:none; 
	border-bottom: 1px solid #000000;
	/*highight field color*/
	background: #fffacd;
}

#DynamicFormPanel input[type="checkbox"], #DynamicFormPanel input[type="radio"] {
	/*highight field color*/
	outline: 2px solid #fffacd;
}

#DynamicFormPanel input[type="checkbox"]:disabled, #DynamicFormPanel input[type="radio"]:disabled {
	/*highight field color*/
	outline: none;
}

.FormStyle {
    margin: 5px 20px 5px 20px;
}

/*Horizontal line*/
hr {
  	margin-left: auto;
  	margin-right: auto;
	margin-top: 15px;
	maring-bottom: 15px;
	border:0;
	background-color: #003879;
	height: 3px;
	width: 100%;
}

h1 {
	font-size:30px;	
	color:#000000;
}
h2 {
	font-size:24px;
}
h3 {
	border-bottom:1px solid #ccc;
	font-size:18px;	
}

h4 {
	font-size:16px;
}



p {
	font-size:14px;
	line-height:20px;
}


#DynamicFormPanel table td {
	padding-bottom:2px;
/*    vertical-align:baseline;*/
}

/*Added 2/24*/

#DynamicFormPanel body,
#DynamicFormPanel td,
#DynamicFormPanel input,
#DynamicFormPanel textarea {
    	font-size: 14px;
	font-family: 'Roboto Slab', sans-serif !important;
}

#DynamicFormPanel table {
	border-collapse: collapse;
}

#DynamicFormPanel a:hover {
	text-decoration: none;
}

#FormPage {
    	margin: 0 auto;
	
}

#formnavbuttons input {
	font-size:14px;
	font-family: 'Roboto Slab', sans-serif !important;
	color: white;
	background-color: #003879;
	width:140px !important;
	border: none;
	padding: 5px;
	font-weight: bold;
	border-radius: 3px;
}

#formnavbuttons input:hover {
	cursor: pointer;
}

#SaveAsDraftButton {
    color: #ffffff;
    background-color: #494440;
}
/*2/24 Saved Progress Button*/

button[type="submit"] {
    color: #ffffff;
    background-color: #003976;
}
/*2/24 Submit Button */

/*
.inputcontainer {
   font-family: Arial, Helvetica, sans-serif;
}
*/

.tooltip {
	position: absolute;
	top: calc(100% + 0.649rem);
	z-index: 1200;
	max-width: 10rem;
	height: 18px;
	padding: 0.75rem;
	border-radius: 0;
	background-color: #003976;
	font-size: 80%;
	color: #fefefe; }

/* 
Custom CSS classes fields. Added from Designer. Advanced field settings.
Do not remove Dot "." 
Only css classes. No ID css 
*/
.AnyName1 {
  font-family: 'Roboto Slab', sans-serif !important;
  font-size:20px;
}
.AnyName2 {
  color:#981b1e;
}

.striped-table tr:nth-child(odd) {
    background-color: #eeeeee;
} 

.outlinedTable td {
	border: 1px solid #000000;
	padding: 5px;
}

.blueLineBreak hr {
	border-style: solid;
  	border-width: 1px;
  	color: #2ba1dd;
}

@media print {
#formBody {
	background-color:#ffffff;
	background-image: none;
}
body {	
	
}
	
form {
	border: none;
}
.form-control {
	box-shadow: none;
	border: none;
	border-stylet:none; 
	border-bottom: 1px solid #000000;
	/*highight field color*/
	background: #ffffff;
	resize:none;
}

#FormPage input[type="textarea"] {
	box-shadow: none; 
	border: 1px solid #000000;
	/*highight field color*/
	background: #ffffff;
	resize:none;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
}

#DynamicFormPanel input[type="checkbox"], #DynamicFormPanel input[type="radio"] {
	/*highight field color*/
	outline: none;
}
.hideInputBoxOnPDF {
	background-color: #ffffff;
	border: none;
  	outline: none;
  	box-shadow: none;
  	/*padding: 2px;*/	
}

}
